.updata{
    width: 45vh;
    border:1px solid #cccccc;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.shuru{
    /* width: 80vw; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: #16fafa 1px solid;
    width: 40vh;
    margin: 10px auto;
}
.shuru Input{
    flex: 1;
    border: none;
    outline: none;
}

.psw{
    /* width: 80vw; */
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: #16fafa 1px solid;
    width: 40vh;
    margin: 20px auto 20px;
}
.psw input{
    flex: 1;
    border: none;
    outline: none;
}