.backtop {
    width: 1.2rem;
    height: 1.2rem;
    background-color: #fff;
    position: fixed;
    bottom: 1.333333rem;
    right: .533333rem;
    border-radius: 50%;
    display: none;
    border: 1px solid #ccc;

    .ic {
        width: 1.2rem;
        height: 1.2rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}