.condition {
    .condition_all {
        .title {
            height: 100%;
            height: .88rem;
            line-height: .88rem;
            color: #828282;
            background: rgb(245, 245, 245);
            font-size: .373333rem;

            span {
                padding: 0 .4rem;
            }
        }

        .detail {
            /* 关键 */
            display: flex;
            ul {
                padding: .133333rem .266667rem .4rem .4rem;
                li {
                    width: 2.333333rem;
                    height: 1.013333rem;
                    margin-top: .266667rem;
                    float: left;

                    a {
                        display: block;
                        font-size: .32rem;
                        color: black;
                        width: 2.146667rem;
                        height: .96rem;
                        border: .026667rem solid #ccc;
                        margin-right: .133333rem;
                        line-height: .96rem;
                        text-align: center;
                    }
                }
            }
        }
    }
}