.detail_list {
    background: white;
    ul {

        display: flex;
        width: 100%;
        overflow: auto;
        background: white;

        li {
            width: 1.85rem;
            height: 1.066667rem;
            border-bottom: .053333rem solid white;
            text-align: center;
            line-height: 1.066667rem;


            a {
                display: block;
                width: 1.85rem;
                height: 1.066667rem;
                font-size: .373333rem;
                color: black;
                text-decoration: none;
            }
        }

        .active {
            border-color: #4284d9;

            a {
                color: black;
                text-decoration: none;
                font-size: .373333rem;
                color: #4284d9;
            }
        }
    }
}