.nav {
    width: 10rem;
    height: 1.2rem;
    background: #4284d9;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .p_1 {
        padding-left: .266667rem;
        height: 100%;
        display: flex;
        align-items: center;

        .span_1 {
            color: #ffffff;
            font-size: .8rem;
            padding-right: .053333rem;
        }

        .span_2 {
            font-size: .48rem;
            color: #ffffff;
            display: inline-block;


        }
    }

    .p_2 {
        span {
            font-size: .48rem;
            color: #ffffff;
        }

    }

    .p_3 {
        padding-right: .266667rem;
        color: #ffffff;
        font-size: .48rem;
    }
}