@function vw($px) {
  @return ($px / 375) * 100vw;
}

.login2 {

  ul,
  ol {
    list-style-type: none;
    list-style-image: none;
  }

  a {
    text-decoration: none;
    color: #444;
  }

  //   top
  .rv_tbys {
    padding-top: 0px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: vw(45);
    line-height: vw(45);
    background: #4284d9;
    text-align: center;

  }

  //左边箭头
  .c-main2 {
    position: absolute;
    top: vw(-34);
    left: vw(-85);
    display: inline-block;
    border-top: vw(2) solid;
    border-right: vw(2) solid;
    width: vw(12);
    height: vw(12);
    border-color: #fff;
    transform: rotate(-135deg);
    margin: vw(50) auto auto vw(100);
  }

  .fl,
  .z {
    float: left;
  }

  .rv_tbys {
    .topnav {
      height: vw(45);
      text-align: center;
      color: #FFFFFF;
      font-size: vw(16);
      margin-left: 28px;
    }
  }

  .rv_tbys {
    .dqym {
      display: inline-block;
      height: vw(45);
      line-height: vw(45);
      color: #ffffff;
      font-size: vw(20);
      margin-left: vw(10);
    }
  }

  .pr10 {
    padding-right: vw(10);
  }

  .fr,
  .y {
    float: right;
  }

  // 手机登录
  .menu {
    height: vw(40);
    background-color: #FFFFFF;
  }

  .menu ul li a {
    font-size: vw(15);
    text-align: center;
    height: vw(39);
    line-height: vw(39);
    display: block;
    float: left;
    width: 50%;
    border-bottom: vw(1) solid #ececec;
  }

  .menu ul li a.current {
    color: #297dcc;
    border-bottom: vw(2) solid #4284d9;
    height: vw(38);
  }

  // 表单
  .wqlogin_register {
    padding: vw(15) vw(20);
    font-family: Microsoft YaHei;
    background-color: #FFFFFF;
  }

  .retina .wqb_bottom {
    border-bottom: none !important;
    background-image: linear-gradient(180deg, #e5e5e5, #e5e5e5 50%, transparent 50%), linear-gradient(270deg, #e5e5e5, #e5e5e5 50%, transparent 50%), linear-gradient(0deg, #e5e5e5, #e5e5e5 50%, transparent 50%), linear-gradient(90deg, #e5e5e5, #e5e5e5 50%, transparent 50%);
    background-size: 100% 0px, vw(0) 100%, 100% vw(1), vw(0) 100%;
    background-repeat: no-repeat;
    background-position: top, right top, bottom, left top;
  }

  .wqlogin ul li {
    border-bottom: vw(1) solid #f0f0f0;
    line-height: vw(34);
    padding: vw(5) 0;
    position: relative;
  }

  .wqlogin ul li i {
    position: absolute;
    color: #888;
  }

  // 字体图标
  .wq_f22 {
    font-size: vw(22) !important;
  }

  .wqlogin ul li input {
    border: none;
    height: vw(26);
    width: 90%;
    padding-left: 10%;
    font-size: vw(16);
    font-family: Microsoft YaHei;
  }

  .wqm_top10 {
    margin-top: vw(10);
  }

  .wqlogin_register button {
    font-size: vw(16);
    font-family: Microsoft YaHei, Helvetica, sans-serif;
  }

  .wqbg_color {
    background: #4284d9;
  }

  .wq_button {
    border: none;
    color: #fff;
    width: 100%;
    line-height: vw(44);
    border-radius: vw(5);
    // font-size: 16px;
    // font-family: Microsoft YaHei;
  }

  .wqregister_account {
    line-height: vw(40);
    height: vw(40);
  }

  .wqcolor,
  a.wqcolor:link,
  a.wqcolor:visited {
    font-size: vw(14);
    color: #4284d9;
  }

  .wqfloat_right {
    float: right;
  }

  // 底部
  .footer {
    color: #999999;
    background-color: #fff;
    margin-top: vw(10);
    line-height: vw(22);
    padding-top: vw(18);
    text-align: center;
    padding: vw(10) 0 0 0;
    font: vw(14)/1.6 Microsoft YaHei, Helvetica, sans-serif;
    padding-bottom: vw(60);
  }

  .footer .opt-change {
    color: #ECECEC;
  }

  .footer .copyright {
    font-size: vw(12);
    width: 80%;
    border-top: vw(1) solid #F5F5F5;
    margin: vw(16) auto;
    text-align: center;
    padding-top: vw(18);
  }

  .footer .opt-change a {
    font-size: vw(15);
    color: #666666;
  }

  .footer a {
    margin: vw(0);
    color: #A5A5A5;
    text-decoration: none;
  }

  .footer .opt-change em {
    padding: 0px vw(4);
  }

  em,
  th,
  var,
  i {
    font-weight: normal;
    font-style: normal;
  }

  .footer {
    .copyright {
      font-size: 12px;
      width: 80%;
      border-top: 1px solid #F5F5F5;
      margin: 16px auto;
      text-align: center;
      padding-top: 18px;
    }
  }
}