@function vw($px) {
  @return ($px / 375) * 100vw;
}

.mine{
  ul,
  ol {
    list-style-type: none;
    list-style-image: none;
  }
  
  a {
    text-decoration: none;
    color: #444;
  }
  
  
  //左边箭头
  .c-main3 {
    position: absolute;
    top: vw(-34);
    left: vw(-85);
    display: inline-block;
    border-top: vw(2) solid;
    border-right: vw(2) solid;
    width: vw(12);
    height: vw(12);
    border-color: #fff;
    transform: rotate(-135deg);
    margin: vw(50) auto auto vw(100);
  }
  
  .rv_tbys {
    width: 100%;
    height: vw(45);
    line-height: vw(45);
    background: #4284d9;
    text-align: center;
  }
  
  .cl {
    zoom: 1;
  }
  
  .rv_tbys {
    .topnav {
      height: vw(45);
      text-align: center;
      color: #FFFFFF;
      font-size: vw(16);
      margin-left: vw(16);
    }
  }
  
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  
  .pl10 {
    padding-left: vw(10);
  }
  
  .fl,
  .z {
    float: left;
  }
  
  .rv_tbys {
    .topnav {
      margin-right: vw(12);
  
      i {
        font-size: vw(20);
        color: #fff;
      }
    }
  }
  
  
  .rv_tbys {
    .dqym {
      display: inline-block;
      height: 45px;
      line-height: 45px;
      color: #ffffff;
      font-size: 20px;
    }
  }
  
  .fr,
  .y {
    float: right;
  }
  
  // 视图层
  .rv_wdkjzt {
    margin-top:vw(20);
    margin-bottom:vw(48);
  }
  
  .rv_wdjf .jflb li {
    border: 0px solid #ffffff;
    padding: vw(10) vw(0) vw(0) vw(0);
  }
  
  .rv_wdjf .jflb {
    margin: vw(0);
    background-color: #FFFFFF
  }
  
  .rv_wdkjzt  {
    margin-bottom: vw(48);
  }
  
  .rv_wdkjzt .rv_wdkjxx {
    padding: vw(10) vw(20) vw(0) vw(20);
    background: #fff;
    height: vw(16);
  }
  
  .rv_wdkjzt .rv_wdkjxx .grtx {
    width: 23%;
  }
  
  .fl,
  .z {
    float: left;
  }
  
  a:link,
  a:visited,
  a:hover {
    text-decoration: none;
  }
  
  .rv_wdkjzt .rv_wdkjxx .grtx img {
    width: vw(60);
    height: vw(60);
  }
  
  .rv_wdkjzt .rv_wdkjxx .grxx {
    width: 57%;
    margin-top: 5px;
  }
  
  .rv_wdkjzt .rv_wdkjxx .grxx h2 {
    font-size: vw(18);
    font-weight: 400;
    color: #444;
  }
  
  .rv_wdkjzt .rv_wdkjxx .grxx p {
    // height: vw(20);
    line-height: vw(24);
    font-size: vw(14);
    color: #888;
    overflow: hidden;
  }
  
  .rv_wdkjzt {
    .rv_wdkjxx {
      height: vw(65);
    }
  }
  
  .rv_wdkjzt .rv_wdkjxx .grewm {
    width: vw(50);
    height: vw(50);
  }
  
  .fr,
  .y {
    float: right;
  }
  
  .rv_wdkjzt .rv_wdkjxx .grewm a {
    display: inline-block;
    width: vw(50);
    height: vw(50);
  
    img {
      padding-bottom: vw(10);
    }
  }
  
  // 威望
  .rv_wdjf {
    width: vw(375);
    height: vw(64);
    background: #fff;
  
    .jflb {
      margin: vw(0);
      background-color: #FFFFFF;
      text-align: center;
  
      ul {
        li {
          border: vw(0) solid #ffffff;
          padding: vw(10) vw(0) vw(0) vw(0);
          float: left;
          width: 32.5%;
  
        }
      }
    }
  }
  
  .rv_wdjf .jflb li em {
    font-size: vw(14);
    color: #666;
  }
  
  em,
  th,
  var,
  i {
    font-weight: normal;
    font-style: normal;
  }
  
  .rv_wdjf .jflb li p {
    font-size: vw(20);
    color: #333;
  }
  
  // 赚取金币
  .rv_wdscxz {
    margin-bottom: vw(20);
    padding: vw(15) vw(10);
    background: #fff;
  }
  
  .rv_wdscxz {
    .rv_wdscys {
      border: vw(1) solid #4284d9;
      border-radius: vw(5);
      height: vw(32);
    }
  }
  
  
  .rv_wdscxz {
    .rv_wdscys {
      li {
        float: left;
        width: 50%;
        height: vw(30);
        line-height: vw(30);
        text-align: center;
      }
    }
  }
  
  .rv_wdscxz {
    .rv_wdscys {
      li {
        a {
          font-size: VW(12);
          color: #4284d9;
          display: block;
        }
      }
    }
  }
  
  // 收藏
  .rv_wdkjzt {
    .rv_wdkjgn {
      margin-top: vw(20);
      padding: 0 vw(20);
      background: #fff;
    }
  }
  
  .rv_wdkjzt {
    .rv_wdkjgn {
      li {
        height: vw(48);
        line-height: vw(48);
        border-bottom: vw(1) solid #ececec;
      }
    }
  }
  
  .rv_wdkjzt {
    .rv_wdkjgn {
      li {
        a {
          padding-left: 30px;
          font-size: 16px;
          display: block;
  
          .font {
            position: absolute;
            left: vw(20);
            font-size: vw(20);
            // color: orange;
          }
  
          img {
            float: right;
            width: vw(15);
            height: vw(18);
            padding-top: vw(15);
            // vertical-align: middle;
            line-height: vw(48);
            // margin-bottom: vw(3);
          }
        }
      }
    }
  }
  
  
  .footer {
    padding-bottom: 60px;
    color: #999999;
    background-color: #fff;
    margin-top: 10px;
    line-height: 22px;
    padding-top: 18px;
    text-align: center;
  
    // padding: 10px 0 0 0;
    .opt-change {
      color: #ECECEC;
  
      a {
        font-size: 15px;
        color: #666666;
        margin: 0px;
      }
  
      em {
        padding: 0px 4px;
      }
    }
  }
  
  .footer {
    .copyright {
      font-size: 12px;
      width: 80%;
      border-top: 1px solid #F5F5F5;
      margin: 16px auto;
      text-align: center;
      padding-top: 18px;
    }
  }
  
  .footer {
    .foot-contact {
      a {
        font-weight: bold;
        font-size: 14px;
        color: #A5A5A5;
        margin: 0px;
      }
    }
  }
}

