.car1 {
    .top {
        .show {
            width: 100%;
            height: 4.44416rem;

            img {
                width: 100%;
            }

            .left {
                position: relative;
                float: left;

                .img1 {
                    width: 6.666667rem;
                    height: 4.44416rem;
                }

                &>span {
                    position: absolute;
                    display: block;
                    left: 0;
                    top: 0;
                    color: white;
                    width: .88rem;
                    height: .48rem;
                    background: rgba(240, 85, 80, 0.8);
                    text-align: center;
                    line-height: .48rem;
                    font-size: .32rem;
                }
            }

            .right {
                float: left;

                ul {
                    li {
                        position: relative;

                        img {
                            width: 3.306667rem;
                            height: 2.20416rem;
                        }

                        &>span {
                            position: absolute;
                            display: block;
                            left: 0;
                            top: 0;
                            color: white;
                            width: .88rem;
                            height: .48rem;
                            background: rgba(240, 85, 80, 0.8);
                            text-align: center;
                            line-height: .48rem;
                            font-size: .32rem;
                        }
                    }

                    li:nth-child(1) {
                        margin-bottom: .053333rem;
                    }
                }
            }

        }

        .consult {
            width: 9.2rem;
            height: 1.946667rem;
            padding: 0 .4rem;
            // background: aqua;
            margin: auto;
            position: relative;
            border-bottom: .026667rem solid #ccc;

            .img {
                // position: absolute;
                // left: 0;
                // top: 50%;
                // transform: translateY(-50%);
                // width: 1.6rem;
                // height: 1.090827rem;
                // float: left;
                // line-height: 1.946667rem;
                // display: flex;
                // justify-content: center;
                // align-items: center;
                // float: left;
                width: 1.6rem;
                height: 1.946667rem;
                // line-height: 1.946667rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                float: left;

                img {
                    width: 1.6rem;
                    height: 1.090827rem;
                    float: left;
                    line-height: 1.946667rem;

                }
            }


            .price {
                float: left;
                width: 5.333333rem;
                height: 1.946667rem;
                // padding-left: 1.866667rem;
                // padding-right: 1.333333rem;
                padding-left: .533333rem;
                // margin-top: .186667rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: .373333rem;

                P:nth-child(2) {
                    color: #999;
                }

                strong {
                    color: #F05550;
                    font-weight: normal;
                }
            }

            .final_price {
                float: left;
                // width: 1.04rem;
                height: 1.946667rem;
                // background: #F05550;
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;


                // 
                .span1 {
                    float: left;
                    display: block;
                    width: 1.04rem;
                    height: .8rem;
                    padding: 0 .266667rem;
                    background: #F05550;
                    // display: flex;
                    line-height: .8rem;
                    text-align: center;
                    font-size: .32rem;
                    border-radius: .4rem;
                    color: white;
                }

            }
        }



    }

    /* 参数配置 */
    .car-price-card {
        width: 100%;
        height: 2.533333rem;
        // background: yellow;

        .scroll-item {
            width: 100%;
            height: 1.6rem;
            padding-top: .4rem;
            padding-bottom: .533333rem;
            display: flex;

            ul {
                align-items: center;
                width: 9.6rem;
                height: 1.6rem;
                padding-left: .4rem;
                padding-right: .266667rem;
                overflow: auto;
                // display: flex;
                display: flex;

                li {
                    // align-items: center;
                    flex-shrink: 0;
                    width: 2.266667rem;
                    height: 1.333333rem;
                    padding-top: .266667rem;
                    padding-left: .4rem;
                    margin-right: .266667rem;
                    float: left;
                    box-shadow: 0 0 .053333rem 0 #ccc;
                    // display: flex;

                    strong {
                        width: 2.266667rem;
                        height: .586667rem;
                        font-size: .373333rem;
                    }

                    p {
                        font-size: .32rem;
                        color: #999;
                    }
                }
            }
        }
    }


}

/* 文章 */
.list_article {
    background: white;

    .tt-first {
        width: 100%;
        height: 1.333333rem;
        margin-top: .266667rem;
        background: white;
        border-bottom: .026667rem solid #ccc;

        h3 {
            width: 1.92rem;
            height: 1.333333rem;
            padding-left: .4rem;
            text-align: center;
            line-height: 1.333333rem;
            font-size: .48rem;
        }
    }

    .card-news {
        // width: 9.2rem;
        padding: 0 .4rem;

        ul {
            li {
                width: 9.2rem;
                height: 2.346667rem;
                padding: .4rem 0;
                border-bottom: .026667rem solid #ccc;
                margin: auto;

                .con-box {
                    width: 6.16rem;
                    height: 2.346667rem;
                    float: left;
                    padding-right: .08rem;

                    h4 {
                        width: 6rem;
                        height: 1.76rem;
                        font-size: .426667rem;
                        -webkit-line-clamp: 3;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    p {
                        font-size: .373333rem;

                        .iconfont {
                            font-size: .373333rem;

                        }

                        i {
                            margin: 0 .133333rem;
                        }
                    }
                }

                .img-box {
                    float: left;

                    img {
                        width: 2.933333rem;
                        height: 1.955413rem;
                    }
                }
            }
        }
    }
}