@function vw($px) {
  @return ($px / 375) * 100vw;
}


.reg2 {

  ul,
  ol {
    list-style-type: none;
    list-style-image: none;
  }

  a {
    text-decoration: none;
    color: #444;
  }

  .rv_tbys {
    padding-top: vw(0);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }

  .rv_tbys {
    width: 100%;
    height: vw(45);
    line-height: vw(45);
    background: #4284d9;
    text-align: center;
  }

  //左边箭头
  .c-main {
    position: absolute;
    top: vw(-35);
    left: vw(-85);
    display: inline-block;
    border-top: vw(2) solid;
    border-right: vw(2) solid;
    width: vw(12);
    height: vw(12);
    border-color: #fff;
    transform: rotate(-135deg);
    margin: vw(50) auto auto vw(100);
  }

  .rv_tbys .topnav {
    height: vw(45);
    text-align: center;
    color: #FFFFFF;
    font-size: vw(16);
  }

  .pl10 {
    padding-left: vw(30);
  }

  .fl,
  .z {
    float: left;
  }

  .rv_tbys .dqym {
    display: inline-block;
    height: vw(45);
    line-height: vw(45);
    color: #ffffff;
    font-size: vw(20);
    // margin-right: 5px;
  }

  .fr,
  .y {
    float: right;
    margin-right: vw(10);
  }

  // after 伪元素
  .cl:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  // 点击登录 与 手机注册.menu ul li a{}
  .menu {
    height: vw(40);
    background-color: #fff;

    ul {
      li {
        a {
          font-size: 15px;
          text-align: center;
          height: 39px;
          line-height: 39px;
          display: block;
          float: left;
          width: 50%;
          border-bottom: 1px solid #ececec;

        }
      }
    }
  }

  .menu ul li a.current {
    color: #297dcc;
    border-bottom: 2px solid #4284d9;
    height: 38px;
  }

  // 用户名
  .wqlogin_register {
    padding: 15px 20px;
    //   font-family: Microsoft YaHei;
    background-color: #FFFFFF;
  }

  .wqm_top10 {
    margin-top: 10px;
  }

  .wqlogin {
    ul {
      li {
        border-bottom: 1px solid #f0f0f0;
        line-height: 34px;
        padding: 5px 0;
        position: relative;
      }
    }

  }

  // 字体图标
  .wqlogin {
    ul {
      li {
        i {
          position: absolute;
          color: #888;
        }
      }
    }
  }

  .wq_f22 {
    font-size: 22px !important;
  }


  .wqlogin {
    ul {
      li {
        input {
          border: none;
          height: 26px;
          width: 90%;
          padding-left: 10%;
          font-size: 16px;
          // font-family: Microsoft YaHei;
        }
      }
    }
  }

  .wqlogin_register button {
    font-size: 16px;
    font-family: Microsoft YaHei, Helvetica, sans-serif;
  }

  .wqbg_color {
    background: #4284d9;
  }

  .wq_button {
    border: none;
    color: #fff;
    width: 100%;
    line-height: 44px;
    border-radius: 5px;
    font-size: 16px;
    font-family: Microsoft YaHei;
  }

  .wqregister_account {
    line-height: 40px;
    height: 40px;
  }

  a.wqcolor:visited {
    color: #4284d9;
  }

  .wqfloat_right {
    float: right;
  }

  // 底部
  .footer {
    padding-bottom: 60px;
    color: #999999;
    background-color: #fff;
    margin-top: 10px;
    line-height: 22px;
    padding-top: 18px;
    text-align: center;
  }

  .footer {
    .opt-change {
      color: #ECECEC;
    }
  }

  .footer {
    .opt-change {
      a {
        font-size: 15px;
        color: #666666;
      }
    }
  }

  .footer .opt-change em {
    padding: 0px 4px;
  }

  em,
  i {
    font-weight: normal;
    font-style: normal;
  }

  .footer {
    .copyright {
      font-size: 12px;
      width: 80%;
      border-top: 1px solid #F5F5F5;
      margin: 16px auto;
      text-align: center;
      padding-top: 18px;
    }
  }
}