.search {
    background-color: #fff;

    .sear {
        input {
            width: 9.066667rem;
            height: .8rem;
            margin: .266667rem 0 0 .266667rem;
            border: .026667rem solid #ccc;
            padding: .133333rem;
            font-size: .373333rem
        }
    }

    .hot-news {

        box-sizing: border-box;
        width: 100%;
        padding: 0 .4rem;

        .u1 {


            >li {
                padding: .373333rem 0;
                border-bottom: solid .026667rem #eee;


                .d-left {
                    width: 6.666667rem;

                    h3 {
                        font-size: .426667rem;
                        line-height: .533333rem;
                        font-weight: normal;
                        color: #1b1b1b;
                    }

                    p {
                        color: #ababab;
                        font-size: .32rem;
                        line-height: .373333rem;
                        margin-top: .213333rem;
                    }
                }

                .d-right {
                    img {
                        width: 2.4rem;
                        height: 1.6rem;
                    }
                }
            }
        }
    }

    .footer {
        height: 1.28rem;
    }
}